
<div class="album py-5 bg-light">
  <div class="container">
    <%= link_to "Create new portfolio", new_portfolio_path  if logged_in?(:site_admin) %>
    <%= content_tag(:div,
                    class: "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3",
                    data: logged_in?(:site_admin) ?
                          {controller: 'sort', sort_url: sort_portfolios_path} : {})  do %>
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    <% end %>
  </div>
</div>


