<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>The Gordon Stevens Foundation is dedicated to improving the chances of those willing to explore the universe.
      It supports students, pilots, engineers and researchers to prepare for travels amongst the stars. </p>
  </div>

  <div class="sidebar-module">
    <h4>Social Media</h4>
    <ol class="list-unstyled social-links">

     <li>

       <%= material_icon.face %> Facebook
     </li>

<!--      <li><a href="https://www.facebook.com/NASA/"><%#= fa_icon "camera-retro" %>Facebook</a></li>-->
<!--      <li><a href="https://www.instagram.com/nasa/"><%#= fa_icon "instagram" %></a></li>-->
<!--      <li><a href="https://twitter.com/nasa"><%#= fa_icon "twitter" %></a></li>-->
    </ol>
  </div>
</div>