<h1>About Gordo</h1>

<section class="row">
  <article class="col col-md-6">
    <%= image_tag "profile_image.jpg", width: 400, alt: "profile image" %>
  </article>
  <article class="col col-md-6">
    <p>Gordon "Gordo" Stevens is a character featured on For All Mankind. Stevens was part of Apollo 10 and came close to landing on the Moon but had not as that wasn't part of their mission.
      When the Soviets landed on the Moon shortly after, Gordo and Edward Baldwin faced criticism for not doing so.
    </p>
    <p>He was selected for Apollo 15 but was replaced by Molly Cobb. He was then selected for Apollo 18 and later on for Apollo 22.
      During Apollo 22 he spent 146 days in space but had to be brought back to Earth due to episodes of psychosis on board Jamestown.
    </p>
    <p>Sometime later, Gordo divorced with Tracy Stevens. Ten years later, Gordo returned to the astronaut program and prior to returning to the Moon, made a promise to win Tracy back.
      While on the Moon, Gordo reconnected with Tracy. When the Soviets took over Jamestown, Gordo and Tracy sacrificed their lives to turn on the backup coolant systems, preventing a nuclear meltdown on the Moon.
      Though Gordo and Tracy made it back to Jamestown, they died in each others arms due to their exposure on the Moon. As a result, Gordo was posthumously awarded the Medal of Honor and buried next to Tracy at Arlington National Cemetery.
    </p>
  </article>
</section>
