


  <main class="px-3">
    <h1>Godspeed, everyone!</h1>
    <p class="lead">We are egomaniacal narcissists. I bet Columbus was… and Magellan.
      And they had to be to do what they did. I say here’s to selfish pricks.
      ‘Cause we move the ball forward for mankind.
    </p>
    <p class="lead">
      <%= link_to "About Gordo", about_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    </p>
  </main>

